.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-left p {
    font-size: 15px;
    max-width: 300px;
}
.footer-top-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-email-input {
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    background: #32323b;
    padding-right: 50px;
}
.footer-top-left img {
  width: 120px;         
  height: auto;         
  object-fit: contain;  
  display: block;
}
.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}
.footer-subscribe {
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.footer-bottom-right {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.footer-email-input:hover {
    border: 2px solid white;
}
.footer-subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* @media (max-width: 768px) {
  .footer {
    margin: 40px 30px;
    gap: 30px;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .footer-top-left p {
    font-size: 14px;
    max-width: 100%;
  }

  .footer-top-left img {
    width: 100px;
  }

  .footer-email-input {
    flex-direction: column;
    align-items: stretch;
    padding: 15px 20px;
    border-radius: 20px;
    gap: 12px;
    padding-right: 20px;
  }

  .footer-email-input input {
    font-size: 16px;
    width: 100%;
  }

  .footer-subscribe {
    font-size: 18px;
    padding: 12px 24px;
    width: 100%;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
  }

  .footer-bottom-right {
    flex-wrap: wrap;
    gap: 15px;
  }
} */

@media (max-width: 768px) {
  .footer {
    margin: 40px 20px;
    gap: 30px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
  }

  .footer-top-left img {
    width: 90px;
  }

  .footer-top-left p {
    font-size: 14px;
    max-width: 100%;
  }

  .footer-email-input {
    padding: 12px;
    gap: 12px;
    align-items: stretch;
    border-radius: 20px;
  }

  .footer-email-input input {
    font-size: 16px;
    width: 100%;
  }

  .footer-subscribe {
    font-size: 16px;
    padding: 13px;
    width: 100px;
    text-align: right;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .footer-bottom-right {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
