.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.experience-title {
    position: relative;
}
.experience-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.experience-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.experience-container {
  margin-bottom: 80px;
}

.experience-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
}

.experience-card:hover {
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
  transition: 0.4s;
}

.experience-img-top {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.experience-content h2 {
  font-size: 25px;
  font-weight: 800;
  background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.experience-content h3 {
  font-size: 22px;
  font-weight: 600;
  color: #d4d4d4;
}

.experience-content p {
  color: #d4d4d4;
  font-size: 18px;
  max-width: 300px;
}

.exp-duration {
  font-style: italic;
  color: #d4d4d4;
  margin-bottom: 8px;
}

.experience-showmore {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  color: #b923e1;
  font-weight: 500;
}

@media (max-width: 768px) {
  /* .experience {
        align-items: center;
        gap: 70px;
        margin: 20px 70px;
  }

  .experience-title h1 {
    padding: 0;
        font-size: 50px;
  }

  .experience-title img {
    width: 130px;
        margin-right: -20px;
  } */
.experience {
    gap: 40px;
    margin: 30px 20px;
    align-items: center;
  }

  .experience-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .experience-title h1 {
    font-size: 36px;
    padding: 0;
    text-align: center;
  }

  .experience-title img {
    width: 130px;
    right: -20px;
  }
  .experience-card {
    padding: 24px;
    gap: 16px;
  }

  .experience-img-top {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
  }

  .experience-content h2 {
    font-size: 22px;
  }

  .experience-content h3 {
    font-size: 18px;
  }

  .experience-content p {
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;
  }

  .experience-showmore {
    justify-content: center;
  }
}
